<%= turbo_stream_from tweet %>

<%= turbo_frame_tag dom_id(tweet) do %>
  <div class="p-4">
    <%= tweet.content %>

    <div class="my-1">
      <% if request.path == tweet_path(tweet) %>
        <%= link_to 'Back', tweets_path, data: { turbo_frame: :tweets } %>
      <% else %>
        <%= link_to 'Show', tweet, data: { turbo_frame: :tweets } %>
      <% end %>

      <%= link_to 'Edit', edit_tweet_path(tweet) %>

      <%= link_to 'Destroy',
        tweet,
        method: :delete,
        data: { confirm: 'Are you sure?' }
      %>
    </div>
  </div>
<% end %>
